<!-- Let Side Navbar -->

<div class="columns" id="mail-app">
  <aside class="column is-2 aside hero is-fullheight">
    <div>
      <div class="main">
        <a href="#" class="item active"><span class="icon"><i class="bi bi-house"></i></span><span
            class="name">Home</span></a>
        <a href="/search" class="item"><span class="icon"><i class="bi bi-search"></i></span><span
            class="name">Search</span></a> <!-- * -->
        <a href="/profile" class="item"><span class="icon"><i class="bi bi-person"></i></i></span><span
            class="name">Profile</span></a> <!-- * -->
        <a href="/settings" class="item"><span class="icon"><i class="bi bi-gear"></i></span><span
            class="name">Settings</span></a> <!-- * -->
      </div>
    </div>

    <p class="menu-label">
      <!-- Left Side Navbar Followers list -->
      You Are Following:
    </p>
    <ul class="following-list">
      <!-- * -->
      {{#each following}}
      <!-- * -->
      <li><span class="tag is-primary is-medium ">{{dataValues.followed_username}}</span></li> <!-- * -->
      {{/each}}
      <!-- * -->
    </ul>
  </aside><br>

  <!-- Main Middle Section-->

  <!-- Create Post-->

  <div class="column is-9">
    <div class="content is-medium">
      <div class="box">
        <h4 class="title is-3">Hello {{username}}!</h4> <!-- * -->
        <form class="box entry-creation">
          <!-- * -->
          <article class="message is-warning">
            <div class="message-body is-warning">
              <input type="text" placeholder="Title" class="input is-medium is-rounded" id="created-title"> <!-- * -->
            </div>
          </article>
          <article class="message is-warning">
            <div class="message-body is-warning">
              <input type="text" placeholder="What's on your mind..." class="input is-medium is-rounded"
                id="created-entry"> <!-- * -->
            </div>
          </article>
          <button class="button is-block is-warning is-medium is-rounded" type="submit">
            Submit
          </button>
        </form>
      </div>

      <!-- This is where the feed appears -->

      <div class="content is-medium" id="posts">
        <!-- * -->
        {{#each renderPosts as |post|}}
        <!-- * -->
        <div class="box message is-warning">
          <article>
            <div class="media-content">
              <div class="content">
                <h4 class="message is-warning"><strong>{{post.title}}</strong></h4> <!-- * -->
                <div class="notification is-warning is-light">{{post.entry}}</div> <!-- * -->
                <strong><small>{{post.username}}</small></strong> <!-- * -->
                <small>{{post.createdAt}}</small><br> <!-- * -->
                <div class="columns is-mobile">
                  <form class="reply-form">
                    <div class="field">
                      <div class="control">
                        <input type="hidden" value="{{post.id}}" name="reply_to"> <!-- * -->
                        <input class="input is-medium is-rounded" type="text" name="title" placeholder="Title of reply"
                          id="created-reply"> <!-- * -->
                        <input class="input is-medium is-rounded" type="text" name="entry" cols="30" rows="2"
                          placeholder="Add a comment"> <!-- * -->
                        <button type="submit" class="button is-rounded">Reply</button>
                      </div>
                    </div>
                  </form>

                  <!-- This is were the reply will be displayed -->

                  <!-- * -->
                  {{#each post.children as |child|}}
                  <!-- * -->
                  <article class="notification is-warning is-light">
                    <p>
                      <strong>{{child.username}} : </strong><strong> [ {{child.title}} ] </strong> {{child.entry}}
                      <!-- * -->
                      <small>{{child.createdAt}}</small> <!-- * -->
                    </p>
                  </article>
                  {{/each}}

                </div>
                {{/each}}
              </div>
          </article><br>
          <!-- Reply Input -->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/homepage.js"></script>