<!-- Left Side Navbar -->

<div class="columns" id="mail-app">
  <aside class="column is-2 aside is-fullheight">
    <div>
      <div class="main">
        <a href="/" class="item active"><span class="icon"><i class="bi bi-house"></i></span><span
            class="name">Home</span></a>
        <a href="/search" class="item"><span class="icon"><i class="bi bi-search"></i></span><span
            class="name">Search</span></a>
        <a href="/profile" class="item"><span class="icon"><i class="bi bi-person"></i></i></span><span
            class="name">Profile</span></a>
        <a href="/settings" class="item"><span class="icon"><i class="bi bi-gear"></i></span><span
            class="name">Settings</span></a>
      </div>

      <!-- Left Side Navbar Followers list -->
    <div class="following-list">
      You Are Following:
    </div>
    <ul class="following-list">
      <!-- * -->
      {{#each following}}
      <!-- * -->
      <li><span class="tag is-warning is-medium" style="text-align: center">{{dataValues.followed_username}}</span></li>
      <!-- * -->
      {{/each}}
      <!-- * -->
    </ul>


  </aside><br>

  <!-- Main Middle Section-->

  <!-- Create Post-->

  <div class="column is-9">
    <div class="content is-medium">
      <div class=" hero box">
        <h4 class="title is-3" style="text-align: center; background: rgba(255, 255, 255, 0.7) ">Hello {{username}}!
        </h4>
        <form class="box entry-creation">
          <article class="message is-warning">
            <div class="message-body is-warning">
              <input type="text" placeholder="Title" class="input is-medium is-rounded" id="created-title">
            </div>
          </article>
          <article class="message is-warning">
            <div class="message-body is-warning">
              <input type="text" placeholder="What's on your mind..." class="input is-medium is-rounded"
                id="created-entry">
            </div>
          </article>
          <button class="button btn-post is-block is-warning is-medium is-rounded" type="submit">
            <div class="text">Submit</div>
          </button>
          <div class="progress-bar"></div>
          <svg x="0px" y="0px" viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;">
            <path class="check" class="st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2" />
          </svg>
        </form>
      </div>

      <!-- Post -->
      <div class="content is-medium" id="posts">
        {{#each renderPosts as |post|}}
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="css/subavatar.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{post.title}}</strong>
                <br>
                {{post.entry}}
                <br>
                <small>{{post.username}}</small> - <small>{{post.createdAt}}</small>
              </p>

              <!-- Write & Submit comments -->

              <form class="reply-form column is-7">
                <article class="media">
                  <figure class="media-left"></figure>
                  <div class="media-content">
                    <div class="field">
                      <p class="control">
                        <input type="hidden" value="{{post.id}}" name="reply_to">
                        <input class="input is-small is-rounded" type="text" name="title" placeholder="Title of reply"
                          id="created-reply">
                        <input class="input is-small is-rounded" type="text" name="entry" cols="30" rows="2"
                          placeholder="Add a comment">
                      </p>
                    </div>
                    <div class="field">
                      <button type="submit" class="button is-small is-rounded">Reply</button>
                    </div>
                  </div>
                </article>
              </form>

            </div>



            <!-- comments section -->

            {{#each post.children as |child|}}
            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="css/subavatar.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content" style="color: rgb(255, 152, 104)">
                  <p>
                    <strong>{{child.title}}</strong>
                    <br>
                    {{child.entry}}
                    <br>
                    <small>{{child.username}}</small> - <small>{{child.createdAt}}</small>
                  </p>
                </div>
              </div>
            </article>
            {{/each}}
          </div>
        </article>
        {{/each}}
      </div>


    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="./js/homepage.js"></script>